In [4]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder


date_cols = ['Stime', 'Ltime']
# fields1 = ['ct_flw_http_mthd', 'is_ftp_login', 'ct_ftp_cmd', 'Stime', 'Ltime']
# fields2 = ['is_ftp_login', 'ct_ftp_cmd', 'Stime', 'Ltime']
# fields3 = ['ct_ftp_cmd', 'Stime', 'Ltime']
cols = [
    'srcip',
    'sport',
    'dstip',
    'dsport',
    'proto',
    'state',
    'dur',
    'sbytes',
    'dbytes',
    'sttl',
    'dttl',
    'sloss',
    'dloss',
    'service',
    'Sload',
    'Dload',
    'Spkts',
    'Dpkts',
    'swin',
    'dwin',
    'stcpb',
    'dtcpb',
    'smeansz',
    'dmeansz',
    
    'trans_depth',
    'res_bdy_len',
    'Sjit',
    'Djit',
    'Stime',
    'Ltime',
    'Sintpkt',
    'Dintpkt',
    'tcprtt',
    'synack',
    'ackdat',
    'is_sm_ips_ports',
    'ct_state_ttl',
    
#     'ct_flw_http_mthd',
#     'is_ftp_login',
#     'ct_ftp_cmd',
    
    'ct_srv_src',
    'ct_srv_dst',
    
#     'ct_dst_ltm',
#     'ct_src_ltm',
    
    'ct_src_dport_ltm',
    'ct_dst_sport_ltm',
    'ct_dst_src_ltm',
    'attack_cat',
    'Label',
]
# fields5 = ['attack_cat', 'Stime', 'Ltime']


# def strip_int(text):
#     return int(text.strip(' '))

def ip_to_int(ip):
    z = ''
    parts = ip.split('.')
    for prt in range(3):
        if len(parts[prt]) == 3:
            z = parts[prt] + z
        elif len(parts[prt]) == 2:
            z = '0' + parts[prt] + z
        else:
            z = '00' + parts[prt] + z
    return int(z)

# def encode_attack_cat(cat):
#     mapping = {
#         'Generic': 1,
#         'Fuzzers': 2,
#         'Exploits': 3,
#         'DoS': 4,
#         'Reconnaissance': 5,
#         'Backdoor': 6,
#         'Backdoors': 6,
#         'Analysis': 7,
#         'Shellcode': 8,
#         'Worms': 9,
#     }
#     if (not cat):
#         return 0
#     return mapping[cat.strip(' ')]

# def decode_attack_cat(encoded_cat):
#     mapping = {
#         0: '',
#         1: 'Generic',
#         2: 'Fuzzers',
#         3: 'Exploits',
#         4: 'DoS',
#         5: 'Reconnaissance',
#         6: 'Backdoors',
#         7: 'Analysis',
#         8: 'Shellcode',
#         9: 'Worms',
#     }
#     return mapping[encoded_cat]

# def encode_state(state):
#     mapping = {
#         'CON': 0,
#         'FIN': 1,
#         'INT': 2,
#         'REQ': 3,
#         'URH': 4,
#         'RST': 5,
#         'ECR': 6,
#         'ECO': 7,
#         'CLO': 8,
#         'PAR': 9,
#         'ACC': 10,
#         'URN': 11,
#         'MAS': 12,
#     }
#     return mapping[state]

# def sanitize_port(port):
#     return int(port.replace('-', 0))

converters = {
    'srcip': ip_to_int,
    'dstip': ip_to_int,
}

# Read csv
df = pd.read_csv(
    '../data/UNSW-NB15-BALANCED-TRAIN.csv',
    parse_dates=date_cols,
    usecols=cols,
    skipinitialspace=True,
    converters=converters
)

df['sport'] = df['sport'].replace('-', 0)
df['dsport'] = df['dsport'].replace('-', 0)
df['sport'] = df['sport'].apply(lambda x: int(str(x), 16))
df['dsport'] = df['dsport'].apply(lambda x: int(str(x), 16))
df['service'] = df['service'].replace('-', '')


le = LabelEncoder()
df['proto'] = le.fit_transform(df['proto'])
df['state'] = le.fit_transform(df['state'])
df['service'] = le.fit_transform(df['service'])
df['attack_cat'] = le.fit_transform(df['attack_cat'])

df.head()

C:\Users\52111\AppData\Local\Temp\ipykernel_3040\2977772258.py:147: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ackdat,is_sm_ips_ports,ct_state_ttl,ct_srv_src,ct_srv_dst,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,166059,349328,126171149,83,119,2,0.001050,146,178,31,...,0.000000,0,0,3,4,1,1,1,13,0
1,166059,157526,126171149,33,113,5,4.264797,2934,3738,31,...,0.000134,0,0,5,5,5,5,8,13,0
2,176045175,4163,126171149,83,119,6,0.000003,114,0,254,...,0.000000,0,2,17,17,14,14,17,7,1
3,176045175,4163,126171149,83,119,6,0.000003,114,0,254,...,0.000000,0,2,25,25,25,25,25,7,1
4,166059,214130,126171149,66601,113,5,0.052957,3718,43086,31,...,0.000130,0,0,5,8,1,1,2,13,0

In [5]:
df.describe()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ackdat,is_sm_ips_ports,ct_state_ttl,ct_srv_src,ct_srv_dst,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
count,4.497960e+05,449796.000000,4.497960e+05,4.497960e+05,449796.000000,449796.000000,449796.000000,4.497960e+05,4.497960e+05,449796.000000,...,449796.000000,449796.000000,449796.000000,449796.000000,449796.000000,449796.000000,449796.000000,449796.000000,449796.000000,449796.000000
mean,9.646951e+07,166478.437687,1.284399e+08,4.295583e+04,114.453261,5.085528,0.694259,5.092681e+03,2.277625e+04,138.566168,...,0.006775,0.000972,0.931353,13.858387,13.683721,8.416918,6.496405,12.401215,9.646331,0.500000
std,8.570929e+07,139797.213314,1.231686e+07,1.140547e+06,12.583730,1.293619,13.697272,1.157077e+05,1.449404e+05,109.317462,...,0.026773,0.031155,0.982520,13.818018,13.880075,11.033970,7.860205,14.575122,3.540252,0.500001
min,1.660590e+05,0.000000,2.240000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,1.660590e+05,4163.000000,1.261711e+08,8.300000e+01,113.000000,5.000000,0.000008,1.140000e+02,0.000000e+00,31.000000,...,0.000000,0.000000,0.000000,3.000000,3.000000,1.000000,1.000000,1.000000,7.000000,0.000000
50%,1.760452e+08,161571.000000,1.261711e+08,8.300000e+01,119.000000,5.000000,0.001058,2.640000e+02,1.780000e+02,62.000000,...,0.000000,0.000000,1.000000,7.000000,7.000000,2.000000,1.000000,4.000000,12.500000,0.500000
75%,1.760452e+08,291897.000000,1.261711e+08,5.923000e+03,119.000000,6.000000,0.098976,2.054000e+03,3.276000e+03,254.000000,...,0.000136,0.000000,2.000000,24.000000,24.000000,16.000000,13.000000,24.000000,13.000000,1.000000
max,2.411682e+08,415029.000000,2.411682e+08,5.389893e+08,132.000000,12.000000,8760.777344,1.435577e+07,1.465753e+07,255.000000,...,3.551121,1.000000,6.000000,67.000000,67.000000,67.000000,60.000000,67.000000,13.000000,1.000000

In [6]:
df.values

array([[166059, 349328, 126171149, ..., 1, 13, 0],
       [166059, 157526, 126171149, ..., 8, 13, 0],
       [176045175, 4163, 126171149, ..., 17, 7, 1],
       ...,
       [166059, 201106, 126171149, ..., 1, 13, 0],
       [176045175, 4163, 126171149, ..., 41, 7, 1],
       [166059, 354344, 126171149, ..., 1, 13, 0]], dtype=object)

In [7]:
# Correlation / Co-variance
threshold = 0.95

# Absolute value correlation matrix
corr_matrix = X_train.corr().abs()
corr_matrix.head()

NameError: name 'X_train' is not defined

In [238]:
# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
upper.head()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,tcprtt,synack,ackdat,is_sm_ips_ports,ct_state_ttl,ct_srv_src,ct_srv_dst,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
srcip,NaN,0.221582,0.070953,0.038542,0.015758,0.630703,0.008313,0.004744,0.150431,0.906637,...,0.229238,0.207807,0.224733,0.028007,0.881129,0.532685,0.533743,0.539411,0.582646,0.597002
sport,NaN,NaN,0.021782,0.009550,0.141817,0.185854,0.011729,0.009817,0.042389,0.221511,...,0.093310,0.088023,0.087907,0.036043,0.239304,0.146623,0.149110,0.162363,0.205609,0.163600
dstip,NaN,NaN,NaN,0.009052,0.077543,0.122531,0.040457,0.009797,0.030287,0.126993,...,0.047638,0.044249,0.045596,0.116459,0.168707,0.240368,0.240473,0.234796,0.251052,0.244951
dsport,NaN,NaN,NaN,NaN,0.015666,0.009777,0.001266,0.000718,0.001590,0.034975,...,0.005741,0.005225,0.005606,0.001272,0.032880,0.022265,0.023114,0.027527,0.028480,0.028837
proto,NaN,NaN,NaN,NaN,NaN,0.073896,0.056376,0.006597,0.018689,0.015304,...,0.029709,0.027607,0.028423,0.260877,0.022470,0.230985,0.231741,0.212243,0.216567,0.220114

In [239]:
# Drop duplicate columns by finding their correlations between each other
to_drop_raw = []

# Column for column in upper.columns if any upper[column] > threshold
for column in upper.columns:
    for index, correlation in enumerate(upper[column]):
        if (correlation > threshold):
            to_drop_raw.append(upper.columns[index])
            
to_drop = list(set(to_drop_raw))
to_drop

['dbytes', 'swin', 'ct_srv_src', 'dloss', 'ct_srv_dst', 'sbytes']

In [240]:
# Drop label columns and duplicate columns
label_cols = ['attack_cat', 'Label']
drop_cols = label_cols + to_drop

X = df.drop(columns=drop_cols)
y = df['Label']

X.columns

Index(['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes',
       'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload',
       'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz',
       'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime',
       'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat',
       'is_sm_ips_ports', 'ct_state_ttl', 'ct_srv_src', 'ct_srv_dst',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm'],
      dtype='object')

In [241]:
# X_train_validation includes training set and validation set
# X_test includes test set
# y_train_validation includes the labels for both the training set and validation set
# y_test includes the labels for the test set
X_train_validation, X_test, y_train_validation, y_test = train_test_split(X, y, test_size=0.2)

X_train_validation.head()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,tcprtt,synack,ackdat,is_sm_ips_ports,ct_state_ttl,ct_srv_src,ct_srv_dst,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
357217,166059,151592,126171149,394336,119,2,0.001779,536,304,31,...,0.0,0.0,0.0,0,0,4,5,1,1,3
411238,176045175,291897,126171149,83,119,6,0.000008,114,0,254,...,0.0,0.0,0.0,0,2,24,24,10,10,24
390889,176045175,4163,126171149,83,119,6,0.000009,114,0,254,...,0.0,0.0,0.0,0,2,10,10,10,10,15
181732,176045175,0,126171149,0,13,6,0.000009,200,0,254,...,0.0,0.0,0.0,0,2,10,10,2,2,10
157382,176045175,4163,126171149,83,119,6,0.000009,114,0,254,...,0.0,0.0,0.0,0,2,31,31,25,25,31

In [242]:
# X_train is the training set
# X_validation is the validation set
# y_train is the labels for the training set
# y_validation is the labels for the validation set
X_train, X_validation, y_train, y_validation = train_test_split(X_train_validation, y_train_validation, test_size=0.2)

X_train.head()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,tcprtt,synack,ackdat,is_sm_ips_ports,ct_state_ttl,ct_srv_src,ct_srv_dst,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
45940,166059,202377,126171149,83,119,2,0.000981,132,164,31,...,0.000000,0.000000,0.000000,0,0,1,2,1,1,3
5277,166059,131192,126171149,128,113,5,1.005611,1684,10168,31,...,0.000734,0.000601,0.000133,0,0,1,1,1,1,1
393352,176045175,136018,126171149,273,119,6,0.000006,168,0,254,...,0.000000,0.000000,0.000000,0,2,2,1,1,1,2
210976,176045175,4163,126171149,83,119,6,0.000009,114,0,254,...,0.000000,0.000000,0.000000,0,2,39,39,38,23,39
367491,166059,366423,126171149,140679,113,5,0.569328,8928,320,31,...,0.000683,0.000541,0.000142,0,0,3,3,1,1,3

In [243]:
# DTree
# model = DecisionTreeClassifier()

# KNN - K-Nearest Neighbours Classifier
model = KNeighborsClassifier(n_neighbors=5)

# Train
model.fit(X_train, y_train)

KNeighborsClassifier()

In [247]:
from sklearn.metrics import classification_report, confusion_matrix

# Validate model
predictions = model.predict(X_validation)

print(classification_report(y_validation, predictions))
print(confusion_matrix(y_validation, predictions))


# score = accuracy_score(y_validation, predictions)

              precision    recall  f1-score   support

           0       1.00      0.98      0.99     35990
           1       0.98      1.00      0.99     35978

    accuracy                           0.99     71968
   macro avg       0.99      0.99      0.99     71968
weighted avg       0.99      0.99      0.99     71968

[[35381   609]
 [   56 35922]]